<section id="cta" class="section" is="cta--block">
    <div class="container">
        <div class="cta--wrapper">
            <h2 class="cta--heading mb-4">Make an investment<br/>in your health today!</h2>
            <a href="/work-with-laurie" class="btn btn--primary">Work with Laurie</a>
        </div>
    </div>
</section>

<style type="text/css">
    [is="cta--block"] {
        background-image: {{ fields.background_image }};
    }
</style>