<div class="mini--optin mt-6">
    <img src="{{ theme.path ~'/static/img/book.webp' }}" alt="A mockup of Laurie's book" class="mini--optin--image">
    <div class="mini--optin--right">
        <h6 class="mini--optin--heading mb-2">Think a plant-based diet is complicated and don't know where to start?</h6>
        <p class="mini--optin--content mb-4">Grab a copy of my FREE 5 tips for a stress-free plant-based diet.</p>
        <a href="#" class="btn btn--primary"><span class="download"></span>Download Now</a>
    </div>
</div>