<div class="social--wrapper">
    <a href="https://www.facebook.com/Greens4GoodHealth" target="_blank" class="social--link">
        <img src="{{ theme.path ~'/static/img/facebook.svg' }}" alt="Facebook logo" class="social--logo">
    </a>
    <a href="https://twitter.com/encouraginggrns" target="_blank" class="social--link">
        <img src="{{ theme.path ~'/static/img/twitter.svg' }}" alt="Twitter logo" class="social--logo">
    </a>
    <a href="https://www.instagram.com/encouraginggreens/" target="_blank" class="social--link">
        <img src="{{ theme.path ~'/static/img/instagram.svg' }}" alt="Instagram logo" class="social--logo">
    </a>
    <a href="https://www.pinterest.com/encouraginggrns/" target="_blank" class="social--link">
        <img src="{{ theme.path ~'/static/img/pinterest.svg' }}" alt="Pinterest logo" class="social--logo">
    </a>
</div>