{% extends "base.twig" %}

{% block content %}
	<section id="grid" class="section is-gray">
		<div class="container">
			<h2 class="intro--heading mb-6">Recent posts</h2>
			<div class="grid-cols-3">
				{% for post in posts %}
					{% include "partials/card.twig" %}
				{% endfor %}
			</div>
		</div>
	</section>

	{% include 'partials/pagination.twig' %}
{% endblock %}
