{% extends "base.twig" %}

{% block content %}
	<section class="section">
		<div class="container">
			<div class="intro--wrapper">
				<h1 class="hero--heading">{{ post.title }}.</h1>
				<p class="hero--subheading">{{ post.content }}</p>
			</div>
		</div>
	</section>

	<section id="grid" class="section is-gray">
		<div class="container">
			<div class="grid-cols-3">
				{% for post in posts %}
					{% include "partials/card.twig" %}
				{% endfor %}
			</div>
		</div>
	</section>

	{% include "partials/pagination.twig" %}
{% endblock %}
