{% extends "base.twig" %}

{% block content %}

{% include "partials/optin.twig" %}

{# <section class="section">
    <div class="container">
        <article class="prose">
            {{ post.content }}
        </article>
    </div>
</section> #}

{{ post.content }}

{# <section id="about" class="section is-gray">
    <div class="container">
        <div class="grid-cols-2">
            <div class="about--left">
                <img src="{{ theme.path ~'/static/img/headshot.webp' }}" alt="An image of Laurie Courage" class="about--image">
            </div>
            <div class="about--right">
                <p class="eyebrow mb-2">More than a vegan</p>
                <h2 class="mb-2">About Laurie</h2>
                <p class="subheading mb-4">When a test result gave me pause, I decided to take back control of my health by using food as my medicine. I went on to study plant-based nutrition and health coaching so that I could help others become chronically well.</p>
                <a href="/about-laurie" class="btn btn--secondary">Read more</a>
            </div>
        </div>
    </div>
</section> #}

{% include "partials/latest-posts.twig" %}

{% include "partials/testimonials.twig" %}

{% endblock %}